*,
*::after
*::before{
    margin:0;
    padding:0;
    box-sizing:border-box; 
}
header {
        position: fixed; 
        right: top-corner;
        background-color:darkturquoise
}*/
.home{
    background-color: blueviolet;
    
}
.home h2 {
    font-size: 3rem;
}
.school{
    background-color: darkcyan
    color:white;
    width:fit-content;
    margin-left:auto
    
}

.school p{
    font-size:2.4rem;
}